.ant-alert.ant-alert-success {
    background-color: rgb(184, 247, 142);
    border-color: rgb(56, 139, 0);
    color: #fff;
}

.ant-alert.ant-alert-error {
    background-color: #cf6773;
    border: 1px solid #58181c;
}
