.calendar {
    width: '300px';
    border: '1px solid #d9d9d9';
    border-radius: '4px';
}

.ant-pagination-item-link svg {
    fill: white;
}

.ant-steps-item-icon {
    box-shadow: $main-shadow-sm !important;
    border-radius: 100%;
}

.ant-steps-item-container {
    padding: 20px;
}

.ant-steps-item-process
    > .ant-steps-item-container
    > .ant-steps-item-content
    > .ant-steps-item-title::after {
    animation: stepLoading 2s infinite;
}

.ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon {
    color: rgba(168, 166, 166, 0.664);
}
