.main-numbers {
    font-size: 55px;
    line-height: 65px;
}

.ant-card {
    background-color: $black-color;
    border-radius: 30px;
    box-shadow: $main-shadow-sm;
}

.ant-list-item {
    padding: 20px 0 !important;
}

.ant-btn-secondary {
    background-color: $black-color;
    border-color: rgb(96, 96, 96);
}