.ant-empty-description {
    color: rgb(184, 184, 184) !important;
}

.ant-empty-img-simple-path {
    fill: rgb(155, 155, 155) !important;
    stroke: #787878;
}
.ant-empty-img-simple-g {
    stroke: rgb(155, 155, 155);
}
