@import './animations.scss';
@import './colors.scss';
@import './theme.scss';
@import './authPage.scss';
@import './companyPage.scss';
@import './loadingPage.scss';
@import './navbar.scss';
@import './settingPage.scss';
@import './mainPage.scss';
@import './servicesPage.scss';
@import './calendarPage.scss';
@import './modals.scss';
@import './alert.scss';
