$lightblue: rgb(36, 34, 54);
$black-color: rgb(46, 52, 54);
$dark-color: #001529;
$gold-color: #ffee0152;
$gold-color-light: #ffee00cb;
$main-shadow: 0px 0px 15px 10px $gold-color;
$main-shadow-sm: 0px 0px 15px 5px $gold-color;
