.company-image {
    margin: 0 auto;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    &-sm {
        width: 150px;
        height: 150px;
    }
    img {
        vertical-align: middle;
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
}
