.loading-page {
    position: absolute;
    width: 100vw;
    height: 100vh;
    &_spinner {
        display: inline-block;
        position: relative;
        top: 50%;
        left: 50%;
        transform: scale(3);
    }
}

.loader {
    position: relative;
    min-height: 40px;
    margin-bottom: 20px;
}

.ant-alert .ant-alert-message {
    color: rgba(#000000, 0.8) !important;
}

.loader-circle {
    position: absolute !important;
    background-color: $gold-color;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    box-shadow: $main-shadow;
    display: flex;
    position: relative;
    animation: loader-sizing 1s infinite;
    div {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.ant-spin-dot-item {
    background-color: #fff !important;
}

@keyframes loader-sizing {
    0% {
        width: 30px;
        height: 30px;
    }

    50% {
        width: 40px;
        height: 40px;
    }
    0% {
        width: 30px;
        height: 30px;
    }
}
