.btn-user {
    font-size: 17px;
    font-weight: 700;
}

.logo-sidebar {
    margin: 20px auto;
    width: 80%;
    background: rgba(255, 255, 255, 0.3);
    text-align: center;
    color: white;
    padding: 10px;

    p {
        padding: 0;
        margin: 0;
    }
}
