html,
body,
#app,
.whole-height {
    min-height: 100vh;
    // height: 100%;
    margin: 0;
}

.bg-darkblue {
    background-color: darkblue;
    color: white;
}

.ant-layout-content {
    background-color: $lightblue;
    margin: 0 !important;
}

.y-centered {
    margin-top: 20vh;
}

.btn-success {
    border: 2px solid #52c41a;
}

.large-icon {
    font-size: 90px;
}

.main-numbers {
    font-size: 70px;
    line-height: 65px;
}

.fadeIn-enter-active {
    animation: comeUp $time-fadeIn;
}
.fadeIn-leave-active {
    animation: comeUp $time-fadeIn reverse;
}
.logo {
    text-align: center;
    line-height: 55%;
    padding: 5px;
    font-size: 40px;
    transition: all 0.5s;
    &:hover {
        animation-delay: 0.5s;
        animation: shake 0.5s infinite;
    }
}
