html,
body,
#app,
.whole-height {
    min-height: 100vh;
    // height: 100%;
    margin: 0;
}

.bg-darkblue {
    background-color: darkblue;
    color: white;
}

.btn-success {
    border: 2px solid #52c41a;
}

.large-icon {
    font-size: 90px;
}

.main-numbers {
    font-size: 70px;
    line-height: 65px;
}

$time-fadeIn: 0.2s;

.fadeIn-enter-active {
    animation: comeUp $time-fadeIn;
}
.fadeIn-leave-active {
    animation: comeUp $time-fadeIn reverse;
}

@keyframes comeUp {
    0% {
        // transform: translateY(-50vh);
        opacity: 0;
    }
    100% {
        // transform: translateY(0hv);
        opacity: 1;
    }
}

.logo {
    text-align: center;
    line-height: 55%;
    padding: 5px;
    font-size: 40px;
    transition: all 0.5s;
    &:hover {
        animation-delay: 0.5s;
        animation: shake 0.5s infinite;
    }
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}
@keyframes tilt-n-move-shaking {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }
    25% {
        transform: translate(5px, 5px) rotate(5deg);
    }
    50% {
        transform: translate(0, 0) rotate(0eg);
    }
    75% {
        transform: translate(-5px, 5px) rotate(-5deg);
    }
    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}
