.main-them {
    background-color: rgb(255, 255, 255);
    & .navbar,
    & .navbar a {
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255) !important;
    }
    & .navbar a:hover {
        color: rgb(81, 81, 148) !important;
    }
}

.company-them {
    background-color: rgb(216, 215, 255);
    & .navbar,
    & .navbar a {
        background-color: rgb(145, 141, 255);
        color: rgb(4, 4, 8) !important;
    }
    & .navbar a:hover {
        color: rgb(81, 81, 148) !important;
    }
}

.client-them {
    background-color: rgb(210, 253, 188);
    & .navbar,
    & .navbar a {
        background-color: rgb(123, 219, 75);
        color: rgb(4, 4, 8) !important;
    }
    & .navbar a:hover {
        color: rgb(81, 81, 148) !important;
    }
}

.master-them {
    background-color: rgb(251, 223, 223);
    & .navbar,
    & .navbar a {
        background-color: rgb(253, 164, 164);
        color: rgb(4, 4, 8) !important;
    }
    & .navbar a:hover {
        color: rgb(81, 81, 148) !important;
    }
}
